* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(70, 0, 199, 0.772);
}

#main-title {
    text-align: center;
    color: white;
}

.my-container {
    margin: auto;
    width: 80%;
}

.square {
    height: 100px;
    width: 100px;
    background-color: rgb(220, 168, 255);
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}